<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Food For Gut</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div id="top-nav">
        <h3><a href="/home">Home</a></h3>
        <h3><a href="/about">About</a></h3>
        <h3><a href="/ibs">What is IBS</a></h3>
        <h3><a href="/lifestyle">Lifestyle</a></h3>
        <h3><a href="/quiz">Quiz</a></h3>
        <h3><a href="/contact">Contact</a></h3>
    </div>
    
    <div id="home-main">
        <h1>About Us</h1>
            <span>Food For Gut is a digital companion made by an IBS patient for other people
                living with IBS symptoms.
                <br>
                Your digital companion will help you discover your personal triggers 
                and provide you insights about your health with tailorized bite-sized information
                so you can adjust your lifestyle in a sustainable way that fits your needs.
            </span>
    </div>
</body>
</html>