<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Food For Gut</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div id="top-nav">
        <h3><a href="/home">Home</a></h3>
        <h3><a href="/about">About</a></h3>
        <h3><a href="/ibs">What is IBS</a></h3>
        <h3><a href="/lifestyle">Lifestyle</a></h3>
        <h3><a href="/quiz">Quiz</a></h3>
        <h3><a href="/contact">Contact</a></h3>
    </div>
    
    <div id="home-main">
        <h1>About Us</h1>
            <span>Food For Gut is a digital companion for people living with IBS symptoms. It was designed and developed by
                an IBS patient for other patients.
                <p>
                Your digital companion will help you discover your personal triggers 
                and provide you insights about your health with tailorized bite-sized information
                so you can adjust your lifestyle in a sustainable way that fits your needs.</p>
                <p>
                Food For Gut is a brainchild of Jeanet Lin, an IBS patient herself who has lived with IBS symptoms since 2013 but only managed
                to get a diagnosis in 2005. Several years of painful and frustration of not understanding what it is and how to deal led
                her to take this case in her own matters. Through years of research and personal experiences over the last three years,
                she's been able to design a way to recover more than 95% of her symptoms without any medication or supplement.  
                </p>
            </span>
    </div>
</body>
</html>