<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div id="top-nav">
        <h3><a href="/home">Home</a></h3>
        <h3><a href="/about">About</a></h3>
        <h3><a href="/ibs">What is IBS</a></h3>
        <h3><a href="/lifestyle">Lifestyle</a></h3>
        <h3><a href="/quiz">Quiz</a></h3>
        <h3><a href="/contact">Contact</a></h3>
    </div>
    
    <div id="home-main">
        <h1>Come Join Us!</h1>
        <span>Every day we are motivated by building a better future for people who are
                experiencing IBS symptoms or have been diagnosed and need to live with it.
            We strive to empower these people to find their triggers quicker and enable them
        to take action for their own health before it is too late.
            <p>Contact us to help empower ONE billion people to regain control of their own gut health in a sustainable way!</p>
            <button><a href="mailto:hello@foodforgut.co">Contact Us</a></button>
        </span>    
</div>
</body>
</html>