<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Welcome to Food For Gut</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div id="top-nav">
        <h3><a href="/home">Home</a></h3>
        <h3><a href="/about">About</a></h3>
        <h3><a href="/ibs">What is IBS</a></h3>
        <h3><a href="/lifestyle">Lifestyle</a></h3>
        <h3><a href="/quiz">Quiz</a></h3>
        <h3><a href="/contact">Contact</a></h3>
    </div>
    
    <div id="home-main">
        <div id="main-logo"><img src="/images/white-logo.png">
        </div>
        <div class="main-section">
        <h1>Discover Your Personal Triggers</h1>
            <h2>Your digital companion for a sustainable and happy lifestyle living with Irritable Bowel Syndrome</h2>
            <span>
                <p>We are still working on this website, come back soon!</p>
            </span>
        </div>
    </div>
</body>
</html>