<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lifestyle for IBS</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div id="top-nav">
        <h3><a href="/home">Home</a></h3>
        <h3><a href="/about">About</a></h3>
        <h3><a href="/ibs">What is IBS</a></h3>
        <h3><a href="/lifestyle">Lifestyle</a></h3>
        <h3><a href="/quiz">Quiz</a></h3>
        <h3><a href="/contact">Contact</a></h3>
    </div>
    
    <div id="lifestyle-main">
        <h1>Your Lifestyle and IBS</h1>
        <span>
            Your lifestyle habits have a huge impact on your symptons, check out the different 
            lifestyle changes that will help you restore a happy and healthy gut again.
        <br>
        <div class="category-icon-container">
            <div class="icon-diet"><img class="icons" src="/images/diet.png">
            <h3>Food & Nutrition</h3></div>
            <div class="icon-health"><img class="icons" src="/images/health.png">
                <h3>Health</h3></div>
            <div class="icon-exercise"><img class="icons" src="/images/exercise.png">
                <h3>Activity</h3></div>
            <div class="icon-meditation"><img class="icons" src="/images/meditation.png">
                <h3>Well-being</h3></div>
        </div>
        </span>
    </div>
</body>
</html>

<!-- Source links
<a href="https://www.flaticon.com/free-icons/sport" title="sport icons">Sport icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/fruit" title="fruit icons">Fruit icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/smartwatch" title="smartwatch icons">Smartwatch icons created by srip - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/yoga" title="yoga icons">Yoga icons created by Freepik - Flaticon</a>
-->